HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
REFRESH_JWT_SECRET=

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=
DATABASE_PORT=3306
DATABASE_NAME=sweet
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=

SENTRY_DSN=
SEND_MESSAGES= # true if you want to send messages, false if you want to skip sending messages (for testing)
TEST_USER_DOCUMENT_ID= # if a document ID for a user is entered here, then the reminder processsor will only send emails or texts to that user (for testing)

SMTP_USERNAME=info@htandme.co.uk
SMTP_PASSWORD=
FIRETEXT_API_KEY=
CRON_ENABLED= # true if you want cron jobs to run, false if you want to disable cron jobs (for testing)